.home-container-wrapper {
    display: flex!important;
    gap: 10px;
}

.community-list {
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.home-grid,
.post-grid {
    width: 100%!important;
}

.community-box {
    width: 100%;

    > div {
        height: 100%;
    
        > div {
            display: flex;
            justify-content: space-around;
            gap: 15px;

            > div {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }

        img {
            width: 140px;
            height: 110px;
        }
    }
}

.post-link {
    text-decoration: none;

    :hover {
        text-decoration: underline;
    }
}

.post-wrapper {
    width: 100%!important;
}

.community-list {
    width: 23%;
    position: fixed;
    top: 112px;
    bottom: 0;
}

.community-list > div {
    overflow: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: fit-content;
}

.community-list > div::-webkit-scrollbar {
    display: none;
}

.post-slick-slider {
    .slick-list {
        display: flex;
        flex: 1!important;
        align-items: center;
        justify-content: center;

        .slick-track {
            display: flex;
            gap: 1px;
        }
    }
    
    .slick-next {
        right: 10px;
        z-index: 10;
    }

    .slick-prev {
        left: 10px;
        z-index: 10;
    }
}

.post-image {
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    height: 400px;
    border-radius: 20px;
}

@media screen and (max-width: 1199.5px) {
    .home-container-wrapper {
        flex-direction: column;
        align-items: center;
    }


    .home-grid {
        margin-top: 15px;
    }

    .community-list {
        width: 100%;
        position: static;
        margin-top: 15px;
        margin-top: 15px;
    }

    .community-list > div {
        width: 100%;
        overflow: initial;
        overflow-y: initial;
        height: auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 900px) {
    .home-container-wrapper {
        flex-direction: column;
    }
}