.sidebar-wrapper {
  padding: 10px 20px;
  height: calc(100vh - 91px);
  color: rgba(51, 51, 51, 1);
  overflow: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  a {
    color: rgba(51, 51, 51, 1);
    text-decoration: none;
  }

  .active {
    background-color: rgba(0, 0, 0, 0.03);

    div {
      svg,
      span {
        color: rgba(5, 104, 214, 1);
      }
    }
  }

  ul .sidebar-list-item div span {
    font-size: 18px;
  }

  button {
    width: 100%;
    border-radius: 30px;
    color: rgba(0, 32, 67, 1);
    line-height: 28px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 1px solid rgba(0, 32, 67, 1);
  }
}

.sidebar-wrapper::webkit-scrollbar {
  display: none;
}

.sidebar-menu-groups {
  li {
    padding: 3px 0;

    div {
      span {
        line-height: 28px;
        font-size: 18px;
        font-weight: 500;
      }

      p {
        line-height: 19px;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}

.sidebar-menu-category {
  a p:hover {
    text-decoration: underline;
  }
}
